body * {
    font-family: "Ubuntu";
    color: #565656;
}

h1,h2,h3,h4,th, a.nav-link i, .modal-title {
    color: #76323F;
}

.app-title {
    position: absolute;
    right: 30px;
    bottom: 15px;
}

.btn * {
    color: white;
}

.btn {
    font-size: 14px;
    padding: 4px 8px;
}

body {
    background-image: url('/bg.jpg');
    background-size: cover;
}

html, body, .tab-container {
    height: 100%;
}

.tab-content {
    height: calc(100% - 55px);
    border: 1px solid #ddd;
    background-color: rgba(215, 206, 199, 0.82);
    border-radius: 5px;
    border-top-left-radius: initial;
}

.tab-pane {
    height: calc(100% - 40px);
    overflow-y: auto;
}

.nav-tabs {
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
a.nav-link:not(.active) {
    background-color: rgba(255, 255, 255, 0.82);
}
a.nav-link.active {
    border-bottom: none;
    background-color: rgba(215, 206, 199, 0.82) !important;
}

div.edit,
div.results {
    display: none;
}

th.button {
    width: 60px;
}

.modal-header,
.modal-content {
    background-color: rgb(177, 164, 155);
}

.modal-body {
    background-color: rgba(215, 206, 199, 1);
}

#config table td,
#home table td {
    padding: 3px;
    vertical-align: middle;
}

@media (max-width: 1200px) {
    .app-title {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .app-title small {
        display: none;
    }
}